.hero {
  background-color: #222;
  color: white;
  padding: 4rem 2rem;
  text-align: left;
  background-image:linear-gradient(rgba(58, 55, 55, 0.5), rgba(58, 55, 55, 0.5)), url('../assets/hero-image.png');
  background-size: cover;
  background-position: center;
}

.hero h1 {
  margin-bottom: 1rem;
}